@use "mediaMixins";

@mixin mixin-photo-container($h) {
    overflow: hidden;
    height: $h;
    width: 100%;
}

#carousel-section{
    margin-top: 75px;
    margin-bottom: 50px;

    .square-img {
        height: 100%;
    }
}

#desktopCarousel {
    display: block;

    .photo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        @include mixin-photo-container($h: 650px);
    }

    .large-img {
        width: 100%;
        @include mediaMixins.media-custom(1400px){
            width: auto;
            height: 100%;
        }
    }

    .set-three {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 10px;
    }

    @include mediaMixins.lg(){
        display: none;
    }
}

#tablet-carousel {
    display: none;

    @include mediaMixins.lg(){
        display: block;

        .photo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            @include mixin-photo-container($h: 650px);
        }

        .large-img {
            width: 100%;
            @include mediaMixins.media-custom(900px){
                width: auto;
                height: 100%;
            }
        }

        .set-two {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 10px;
        }
    }

    @include mediaMixins.md(){
        display: none;
    }
}

#mobile-carousel{
    display: none;

    @include mediaMixins.md(){
        display: block;

        .large-img {
            width: 100%;
        }

        .photo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            @include mixin-photo-container($h: 650px);
        }
    }
}