@use "mediaMixins";

nav {
    img {
        display: block;
        margin: 0 auto;
        width: 35%;

        @include mediaMixins.lg(){
            width: 50%;
        }
    }

    .icon-mobile {
        display: none;
    
        @include mediaMixins.lg {
            display: block;
        }
    }

    .icon {
        display: block;
    
        @include mediaMixins.lg {
            display: none;
        }
    }

    .nav-link {
        @include mediaMixins.lg{
            color: black;
            font-weight: bold;
        }
    }

    .hide {
        display: block;
    
        @include mediaMixins.lg {
            display: none;
        }
    }

    .offcanvas-header {
        border-bottom: 1px solid black;
    }

    #offcanvasDarkNavbarLabel {
        color: #d10101;
    }
}

.navbar {
    @include mediaMixins.lg(){
        position: sticky;
        top: 0;
        z-index: 1020;
    }
}

.nav-items {
    margin: 0;
    padding: 1.5% .5%;
}

.f-icon {
    font-size: 1.5rem;
}

.f-icon:hover {
    color: #d10101;
}

.left_nav {
    vertical-align: middle;
    align-items: center;
    flex-direction: row;

}