nav {
    img {
        display: block;
        margin: 0 auto;
        width: 35%;
    }
}

.container-fluid {
    margin: 0;
    padding: 1.5% .5%;
}

.f-icon {
    font-size: 1.5rem;
}

.left_nav {
    align-items: center;
}