// ---------------- VARIABLES ---------------- // 
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;


// ---------------- MEDIA MIXINS ---------------- // 
// - Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
 
// - Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
 
// - Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}
 
// - Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

// - Extra extra large devices
@mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
        @content;
    }
}

nav {
    img {
        display: block;
        margin: 0 auto;
        width: 35%;
    }

    .icon {
        display: none;
    
        @include xl {
            display: block;
        }
    }

    .hide {
        display: none;
    
        @include lg {
            display: block;
        }
    }
}

.container-fluid {
    margin: 0;
    padding: 1.5% .5%;
}

.f-icon {
    font-size: 1.5rem;
}

.left_nav {
    align-items: center;
}