<!DOCTYPE html>
<html>
<head>
    <title>Página Dinamita</title>
    <style>
        body {
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/background.jpg");
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        
        .container {
            text-align: center;
            color: #fff;
        }
        
        .c-img {
            max-width: 400px;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        
        .footer {
            margin-top: 20px;
            font-size: 14px;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <img class="c-img" src="images/dinamita.jpg" alt="">
        <p class="footer">Hecha por equipo Dinamita</p>
        <a href="/">Regresar</a>
    </div>

</body>
</html>
